<?xml version="1.0"?>

<model>
  <name>dove_beauty_bar</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Changkyu Song</name>
    <email>changkyusong86@gmail.com</email>
  </author>

  <description>
    A model of the dove_beauty_bar
  </description>

</model>
